{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Travelline Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="header">
      <div class="header-right">
        <a class="active" href="">Главная</a>
        <a href="../admin/">Для администратора</a>
        <a href="upload/">Загрузить ответ</a>
      </div>
    </div>
    <main class="content">
      <div class="container p-0 workzone">
        <div>
          <div class="row g-0 workzone">
            <div class="col-12 col-lg-7 col-xl-12">
              <div class="position-relative">
                <div class="chat-messages p-4" id="chat-text">
                </div>
              </div>
              <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group" id="input-group">
                  <textarea 
                    type="text"
                    class="form-control text-form"
                    id="input"
                    placeholder="Type your question"
                    style="overflow:hidden"
                  ></textarea>
                  <button class="btn btn-primary" id="submit">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% comment %} Get data for username and chatbox name{% endcomment %}
    {{ request.user.username|json_script:"user_username" }}
    {{ chat_box_name|json_script:"room-name" }}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/chat_script.js' %}">
    </script>
  </body>
</html>
